<div ng-controller="highscoreCtrl">
    <div class="header">
        <h3>Highscores</h3>
    </div>

    <div class="content">
        <table class="highscores">
            <tr>
                <th width="2"></th><th width="2"></th>
                
                <th>Name</th><th>Score</th><th>Status</th><th>Info</th>
            </tr>
            <tr ng-repeat="player in highscores">
                <td>[[ $index+1 ]]</td>
                <td><span ng-show="player.connected">&#x2713;</span></td>
                <td>[[ player.name ]]</td>
                <td>[[ player.score ]]</td>
                <td ng-show="player.connected">
                    [[ player.status ]]
                </td>
                <td ng-show="player.connected">
                    <span ng-show="player.status == 'playing'">
                        <span ng-show="player.has_scored">&#x2713;</span>
                        [[ player.title ]]
                        <span class="small" title="[[ player.connected_player.struct.secret_code ]]">with: [[ player.connected_player.struct.name ]]</span>
                    </span>
                </td>
            </tr>
        </table>

        <p class="meta">&#x2713; = player online</p>
    </div>
    
</div>
