<div ng-controller="highscoreCtrl">
    <div class="header">
        <h3>Highscores</h3>
    </div>

    <div class="content">
        <table class="highscores">
            <tr>
                <th width="2"></th><th width="2"></th>
                
                <th>Name</th><th>Score</th>
            </tr>
            <tr ng-repeat="player in highscores">
                <td>[[ $index+1 ]]</td>
                <td><span ng-show="player.connected">&#x2713;</span></td>
                <td>[[ player.player_name ]]</td>
                <td>[[ player.score ]]</td>
            </tr>
        </table>

        <p class="meta">&#x2713; = player online</p>
    </div>
    
</div>
