<div class="full-page">
    <div class="header">
        <h3>Silent Mobile Disco</h3>
    </div>
    <div class="content with-meta">

        <div>
            <p class="step"><span class="nr">The disco is over…!</span></p>
            <p class="statusmsg">At this moment this disco is not going on.</p>
            <p class="statusmsg">Please come back another time!</p>
            <p class="statusmsg small">Book your own mobile silent disco on <u>www.silentmobiledisco.nl</u></p>
            </div>
        </div>
        
    </div>
</div>
